.DS_Store
swift/SwiftAdvanced/SwiftAdvanced.xcodeproj/xcuserdata/i058959.xcuserdatad/
swift/SwiftAdvanced/SwiftAdvanced.xcodeproj/project.xcworkspace/xcshareddata/
swift/SwiftAdvanced/SwiftAdvanced.xcodeproj/project.xcworkspace/xcuserdata/i058959.xcuserdatad/
# session 228
frameworks/228_PresetationController/228_PresetationController.xcodeproj/project.xcworkspace/xcshareddata/
frameworks/228_PresetationController/228_PresetationController.xcodeproj/project.xcworkspace/xcuserdata/llv23.xcuserdatad/
frameworks/228_PresetationController/228_PresetationController.xcodeproj/xcuserdata/llv23.xcuserdatad/